.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #272F68 !important;
}

.navbar .navbar-brand {
    color: #F7941D !important;
    font-weight: bold;
}

.navbar .nav-link {
    color: #FFFFFF !important;
}

.navbar .nav-link:hover {
    color: #F7941D !important;
}


h1.display-4 {
    color: #3f7fc0;
    font-weight: 600;
}

.btn-primary {
    background-color: #F7941D;
    border-color: #F7941D;
}

.btn-primary:hover {
    background-color: #e6861a;
    border-color: #e6861a;
}

.card {
    border: 1px solid #dee2e6;
}

.card-title {
    color: #272F68;
    font-weight: bold;
}